@media print {
    @page {
        margin-top: 0.25in;
        margin-bottom: 0.25in;
        margin-left: 0.25in;
        margin-right: 0.25in;
    }

    .book-icon {
        display: none;
    }

    #TableOfContents {
        display: none;
    }

    .book-tabs-content {
        display: inline !important;
        break-before: page;
        break-inside: avoid;
    }

    h1#security-ideas {
        break-before: always;
    }

    h1#tools-to-use {
        break-before: always;
    }

    h2#tools-not-to-use {
        break-before: always;
    }

    div.book-tabs {
        display: inline !important;
    }

    label {
        display: none !important;
    }
}

// Make sure that the label next to the languages toggle
// gets a visible outline when the checkbox is focused
input.toggle:focus + label {
    outline: auto;
}

// Darken background color in dark mode
// for better text contrast
@media (prefers-color-scheme: dark) {
  // extra specificity to defeat base book theme
  :root:root {
    --body-background: hsl(0, 0%, 10%);
  }
}
